<html>
    {% load staticfiles %}
    <head>
        <title>WPCI</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/cardsearch.css' %}">
        <link href='https://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="">WPCI</a></h1>
            <h3>Wizard Poker Card Index</h3>
        </div>

        <div class="search">
            <p>Enter a card name to search</p>
            <form role="form" action="/search/" method="get">
            <p><label for="id_search">Card Name:</label>
            <input id="id_search" type="text" name="user_query">
            <input type="submit" value="Search"></p>
            </form>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>