{% extends 'cardsearch/base.html' %}

{% block content %}
    <div class="card">
        <div class="name">
            <h2>{{ card.card_name }}</h2>
        </div>

        <div class="row">
            <div class="section">
                <div class="image" style="float:left; margin-right:10px; margin-top:1px">
                    <img src="http://wow.zamimg.com/images/hearthstone/cards/enus/original/{{ card.card_id }}.png?10871">
                </div>
            </div>

            <div class="section">
                <div class="golden-image" style="float:left; margin-right:10px; margin-top:1px">
                    <img src="http://wow.zamimg.com/images/hearthstone/cards/enus/animated/{{ card.card_id }}_premium.gif?10871">
                </div>
            </div>

            <div class="section" style="float:left; margin-left:20px; margin-top:30px">
                <p><b>Card Properties</b></p>
                <p>Card Type: {{ card.type }}</p>
                <p>Card ID: {{ card.card_id }}</p>
                <p>Mana Cost: {{ card.mana_cost }}</p>
                <p>Rarity: {{ card.rarity }}</p>
                <p>Attack: {{ card.attack }}</p>
                <p>Health: {{ card.health }}</p>
                <p>Artist: {{ card.artist }}</p>
                <p>Collectible: {{ card.collectible }}</p>
                <p>Flavor Text: {{ card.flavor_text }}</p>
                <p>Set: {{ card.card_set }}</p>

            </div>
            <div class="section" style="float:left; margin-left:20px; margin-top:30px">
                <p><b>Dust Values</b></p>
                <p>Cost to enchant: {{ card.dust_cost }}</p>
                <p>Value of disenchant: {{ card.dust_value }}</p>
                <p>Cost to enchant golden: {{ card.golden_dust_cost }}</p>
                <p>Value to disenchant golden: {{ card.golden_dust_value }}</p>
            </div>

        </div>



    </div>
{% endblock %}